table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

table {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

th {
    text-align: left;
}

.center {
    text-align: center;
}

button {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: green;
    color: white;
    height: 40px;
    width: 50%;
    display: block;
    float: left;
}

button:hover {
    background-color: #1e5814;
}

button:focus {
    outline-style: none;
}

#buttonsTD {
    padding: 0;
}

.tableHeader {
    background-color: black;
    color: white;
}

#finalGradeOutput, #currentGradeOutput {
    height: 50px;
    width: 50%;

}

#bottomRow {
    background-color: green;
    height: 20px;
}